.hidden-card,
.player-card {
  background-image: url(/public/assets/rummy/cards.png);
  background-size: 2004px 800px;
  width: 141px;
  height: 198px;
  z-index: 2;
  border: 1px solid #333;
  border-radius: 10px;
  position: relative;
}

.player-card.drag-disable,
.hidden-card {
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.hidden-card {
  position: absolute;
  bottom: 0;
  left: 33vw;
  box-shadow: 1px 1px 1px 4px #ddd6;
  background-position: -1862px -1px !important;
  transition: 1s;
}

.hidden-card:hover {
  padding: 2px;
  transform: translate(0, -3px);
  box-shadow: 1px 1px 1px 6px #ddd6;
}

.player-card.invisible {
  display: none;
}

.player-card.hold {
  max-width: 141px;
  min-width: 141px;
  border: 2px solid orange;
}

.player-card.hovered {
  border: 2px solid orange;
}

.player-card .valid-flag {
  display: block;
  width: 105%;
  height: 10px;
  position: absolute;
  bottom: -5%;
  left: 0;
}

.SA {
  background-position: -1px -401px;
}

.S2 {
  background-position: -144px -401px;
}

.S3 {
  background-position: -287px -401px;
}

.S4 {
  background-position: -430px -401px;
}

.S5 {
  background-position: -572px -401px;
}

.S6 {
  background-position: -715px -401px;
}

.S7 {
  background-position: -858px -401px;
}

.S8 {
  background-position: -1001px -401px;
}

.S9 {
  background-position: -1143px -401px;
}

.ST {
  background-position: -1286px -401px;
}

.SJ {
  background-position: -1429px -401px;
}

.SQ {
  background-position: -1573px -401px;
}

.SK {
  background-position: -1716px -401px;
}

.HA {
  background-position: -1px -201px;
}

.H2 {
  background-position: -144px -201px;
}

.H3 {
  background-position: -287px -201px;
}

.H4 {
  background-position: -430px -201px;
}

.H5 {
  background-position: -572px -201px;
}

.H6 {
  background-position: -715px -201px;
}

.H7 {
  background-position: -858px -201px;
}

.H8 {
  background-position: -1001px -201px;
}

.H9 {
  background-position: -1143px -201px;
}

.HT {
  background-position: -1286px -201px;
}

.HJ {
  background-position: -1429px -201px;
}

.HQ {
  background-position: -1573px -201px;
}

.HK {
  background-position: -1716px -201px;
}

.DA {
  background-position: -1px -601px;
}

.D2 {
  background-position: -144px -601px;
}

.D3 {
  background-position: -287px -601px;
}

.D4 {
  background-position: -430px -601px;
}

.D5 {
  background-position: -572px -601px;
}

.D6 {
  background-position: -715px -601px;
}

.D7 {
  background-position: -858px -601px;
}

.D8 {
  background-position: -1001px -601px;
}

.D9 {
  background-position: -1143px -601px;
}

.DT {
  background-position: -1286px -601px;
}

.DJ {
  background-position: -1429px -601px;
}

.DQ {
  background-position: -1573px -601px;
}

.DK {
  background-position: -1716px -601px;
}

.CA {
  background-position: -1px -1px;
}

.C2 {
  background-position: -144px -1px;
}

.C3 {
  background-position: -287px -1px;
}

.C4 {
  background-position: -430px -1px;
}

.C5 {
  background-position: -572px -1px;
}

.C6 {
  background-position: -715px -1px;
}

.C7 {
  background-position: -858px -1px;
}

.C8 {
  background-position: -1001px -1px;
}

.C9 {
  background-position: -1143px -1px;
}

.CT {
  background-position: -1286px -1px;
}

.CJ {
  background-position: -1429px -1px;
}

.CQ {
  background-position: -1573px -1px;
}

.CK {
  background-position: -1716px -1px;
}

.Joker-1 {
  background-image: url(/public/assets/rummy/joke1.png) !important;
  background-size: cover;
}

.Joker-2 {
  background-image: url(/public/assets/rummy/joke2.jpg) !important;
  background-size: cover;
}

.x-card {
  background-position: -1862px -1px !important;
}
