#create-room,
#rooms-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: lightskyblue;
}

h1 {
  text-align: center;
}

form * {
  margin: 10px 0;
}

form div {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input {
  width: 70%;
  outline: none;
  padding: 7px 12px;
  font-size: 15px;
  border: 1px solid rgba(165, 164, 87, 0.3);
  border-radius: 4px;
}

button {
  font-size: 17px;
  border: none;
  padding: 10px 2px;
  width: 90%;
  align-self: center;
  transition: 0.8s;
  background: #236;
  color: white;
  border-radius: 4px;
}

button:hover {
  background: #348;
}

#rooms-container div,
form {
  width: 50vw;
  background: #224;
  padding: 3%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}
